<!doctype html> 
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>Yello!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/stylesheets/app.min.css">
  <link href="http://fonts.googleapis.com/css?family=Merriweather:700italic,900italic" rel="stylesheet" type="text/css">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/0.10.5/vue.min.js"></script>
  <script src="{{ site.baseurl }}/assets/javascripts/app.min.js"></script>
</head>
