// Button Themes

.button {
  background-color: transparent;
  border-radius: $border-radius;
  transition-duration: .2s;
  transition-timing-function: ease;
  transition-property: box-shadow , background-color;
  &:focus {
    outline: none;
    //box-shadow: 0 0 0 2px #fff, 0 0 1px 4px rgba($blue, .5);
    //box-shadow: 0 0 1px 2px #fff;
    box-shadow: 0 0 0 2px $darken-2;
  }
}


.button-icon {
  transition: transform .05s ease-out;
  svg {
    fill: $dark-gray;
  }
  &:hover {
    svg {
      fill: $darken-4;
    }
    box-shadow: 0 0 0 2px $darken-2;
  }
  &:active {
    transform: scale(.9375);
  }
}

.button-dark {
  color: #fff;
  background-color: $darken-4;
  svg {
    fill: #fff;
  }
  &:hover {
    color: #fff;
    background-color: $darken-3;
  }
  &:focus {}
}

.button-circle {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
}

