// Colors

.white      { color: #fff; }
.dark-gray  { color: $dark-gray; }
.mid-gray   { color: $mid-gray; }
.light-gray { color: $light-gray; }
.blue       { color: $blue; }
.green      { color: $green; }
.yellow     { color: $yellow; }
.red        { color: $red; }

.bg-white      { background-color: #fff; }
.bg-dark-gray  { background-color: $dark-gray; }
.bg-mid-gray   { background-color: $mid-gray; }
.bg-light-gray { background-color: $light-gray; }
.bg-blue       { background-color: $blue; }
.bg-green      { background-color: $green; }
.bg-yellow     { background-color: $yellow; }
.bg-red        { background-color: $red; }

.bg-darken-1 { background-color: $darken-1; }
.bg-darken-2 { background-color: $darken-2; }
.bg-darken-3 { background-color: $darken-3; }
.bg-darken-4 { background-color: $darken-4; }

