// Nav Themes

// See _nav.scss for structural styles

// Undo default link styles
.nav a {
  &:hover,
  &:focus {
    text-decoration: none;
  }
}

/*
.nav-dark {
  & > a {
    color: white;
    &:hover,
    &:focus {
      color: white;
      background-color: $darken-2;
    }
  }
  .active {
    background-color: $darken-3;
  }
}
*/

.nav-light {
  & > a {
    color: $dark-gray;
    &:hover,
    &:focus {
      color: $dark-gray;
      box-shadow: inset 0 0 0 1px $darken-2;
    }
  }
  .active, .active:hover {
    color: white;
    background-color: $dark-gray;
    background-color: $darken-1;
  }
}

