
.progress {
  position: relative;
  height: 3rem;
}

.progress-bg {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

// .progress-buffer { }

.progress-value {
  position: absolute;
  top: 0; bottom: 0; left: 0;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  &:after {
    content: '';
    display: block;
    height: 1rem;
    margin-top: -.25rem;
    border-right: 2px solid;
  }
}

.progress-overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  cursor: pointer;
}

