// Base thematic styles

body {
  color: $dark-gray;
  background-color: #fff;
}

svg {
  fill: $dark-gray;
}

a {
  color: $dark-gray;
  text-decoration: none;
  &:hover {
    //color: darken($blue, 10%);
    color: $darken-4;
    text-decoration: underline;
  }
}

