
<!doctype html> 
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <title>Jengular</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/basscss.min.css">
  <script src="{{ site.baseurl }}/js/turbolinks.js"></script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>

  <script src="{{ site.baseurl }}/js/app.js"></script>
  <script src="{{ site.baseurl }}/js/player.js"></script>
  <script src="{{ site.baseurl }}/js/controllers/player.js"></script>
  <script src="{{ site.baseurl }}/js/controllers/home.js"></script>
  <script src="{{ site.baseurl }}/js/controllers/nyc-so-far.js"></script>
  <style> .icon{width:1em;height:1em;position:relative;top:.1875em}.nowrap{white-space:nowrap} </style>
</head>
{% if page.controller %}
  <body ng-controller="{{ page.controller }}"> 
{% else %}
  <body>
{% endif %}

  {% include header.html %}

  {% include player.html %}

  {{ content }}

</body>
</html>
